# Hypothesis

The changes made have lowered the times

Null Hypothesis:
The new times are equal to or greater than the mean of the old times
$$mean(new) \geq mean(old)$$ 
H0:
The mean of the new times less than the mean of the old times
$$mean(new) < mean(old)$$ 

For this we will use a confidence interval of 0.05

In [20]:
import pandas as pd
import numpy as np

In [17]:
times = pd.read_table('times.txt', header=None)

In [18]:
times.head()

           0
0  31.622239
1  32.821376
2  30.229101
3  31.413766
4  39.010550

In [21]:
# Get mean of new data
new_mean = np.mean(times)

In [26]:
# We know the old mean(36) and std(6)
# With this we can get a z-score for the new data

z =((36 - new_mean))/(6/(np.sqrt(len(times))))

## our z-score is above 2 we can reject the null hypothesis.
This is because a z-score of 2 correpsonds to a p-value of 0.05

In [29]:
z

0    2.556397
dtype: float64